# The Iris Dataset
The data set consists of 50 samples from each of three species of Iris (Iris setosa, Iris virginica and Iris versicolor). Four features were measured from each sample: the length and the width of the sepals and petals, in centimeters.

The dataset contains a set of 150 records under five attributes - petal length, petal width, sepal length, sepal width and species.

### Specifying the TensorFlow version
Running `import tensorflow` will import the default version (currently 1.x). You can use 2.x by running a cell with the `tensorflow_version` magic **before** you run `import tensorflow`.

In [1]:
%tensorflow_version 2.x

### Import TensorFlow
Once you have specified a version via this magic, you can run `import tensorflow` as normal and verify which version was imported as follows:

In [2]:
import tensorflow as tf
print(tf.__version__)

2.4.1

### Set random seed

In [3]:
tf.random.set_seed(42)

## Question 1

### Import dataset
- Import iris dataset
- Import the dataset using sklearn library

In [14]:
from sklearn import datasets
iris = datasets.load_iris()

## Question 2

### Get features and label from the dataset in separate variable
- you can get the features using .data method
- you can get the features using .target method

In [15]:
X=iris.data
y=iris.target

## Question 3

### Create train and test data
- use train_test_split to get train and test set
- set a random_state
- test_size: 0.25

In [16]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

## Question 4

### One-hot encode the labels
- convert class vectors (integers) to binary class matrix
- convert labels
- number of classes: 3
- we are doing this to use categorical_crossentropy as loss

In [17]:
from keras.utils import to_categorical 
y_train = to_categorical(y_train,num_classes=3,dtype ="float32") 
y_test = to_categorical(y_test,num_classes=3,dtype ="float32")

In [18]:
y_train

array([[1., 0., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 1., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]], dtype=float32)

## Question 5

### Initialize a sequential model
- Define a sequential model

## Question 6

### Add a layer
- Use Dense Layer  with input shape of 4 (according to the feature set) and number of outputs set to 3
- Apply Softmax on Dense Layer outputs

## Question 7

### Compile the model
- Use SGD as Optimizer
- Use categorical_crossentropy as loss function
- Use accuracy as metrics

## Question 8

### Summarize the model
- Check model layers
- Understand number of trainable parameters

## Question 9

### Fit the model
- Give train data as training features and labels
- Epochs: 100
- Give validation data as testing features and labels

## Question 10

### Make predictions
- Predict labels on one row

### Compare the prediction with actual label
- Print the same row as done in the previous step but of actual labels



---

# Stock prices dataset
The data is of tock exchange's stock listings for each trading day of 2010 to 2016.

## Description
A brief description of columns.
- open: The opening market price of the equity symbol on the date
- high: The highest market price of the equity symbol on the date
- low: The lowest recorded market price of the equity symbol on the date
- close: The closing recorded price of the equity symbol on the date
- symbol: Symbol of the listed company
- volume: Total traded volume of the equity symbol on the date
- date: Date of record

### Specifying the TensorFlow version
Running `import tensorflow` will import the default version (currently 1.x). You can use 2.x by running a cell with the `tensorflow_version` magic **before** you run `import tensorflow`.

In [20]:
%tensorflow_version 2.x

### Import TensorFlow
Once you have specified a version via this magic, you can run `import tensorflow` as normal and verify which version was imported as follows:

In [21]:
import tensorflow as tf
print(tf.__version__)

2.4.1

### Set random seed

In [22]:
tf.random.set_seed(42)

## Question 1

### Load the data
- load the csv file and read it using pandas
- file name is prices.csv

In [23]:
# run this cell to upload file if you are using google colab
from google.colab import files
files.upload()

Saving prices.csv to prices.csv

In [25]:
import pandas as pd
df=pd.read_csv("prices.csv")

In [26]:
df.head()

                  date symbol        open  ...         low        high     volume
0  2016-01-05 00:00:00   WLTW  123.430000  ...  122.309998  126.250000  2163600.0
1  2016-01-06 00:00:00   WLTW  125.239998  ...  119.940002  125.540001  2386400.0
2  2016-01-07 00:00:00   WLTW  116.379997  ...  114.930000  119.739998  2489500.0
3  2016-01-08 00:00:00   WLTW  115.480003  ...  113.500000  117.440002  2006300.0
4  2016-01-11 00:00:00   WLTW  117.010002  ...  114.089996  117.330002  1408600.0

[5 rows x 7 columns]

## Question 2

### Drop columnns
- drop "date" and "symbol" column from the data

In [27]:
df=df.drop(["date","symbol"],axis=1)

In [28]:
df.head()

         open       close         low        high     volume
0  123.430000  125.839996  122.309998  126.250000  2163600.0
1  125.239998  119.980003  119.940002  125.540001  2386400.0
2  116.379997  114.949997  114.930000  119.739998  2489500.0
3  115.480003  116.620003  113.500000  117.440002  2006300.0
4  117.010002  114.970001  114.089996  117.330002  1408600.0

## Question 3

### Take initial rows
- Take first 1000 rows from the data
- This step is done to make the execution faster

In [32]:
df=df.iloc[0:1000,:]

In [33]:
df

           open       close         low        high      volume
0    123.430000  125.839996  122.309998  126.250000   2163600.0
1    125.239998  119.980003  119.940002  125.540001   2386400.0
2    116.379997  114.949997  114.930000  119.739998   2489500.0
3    115.480003  116.620003  113.500000  117.440002   2006300.0
4    117.010002  114.970001  114.089996  117.330002   1408600.0
..          ...         ...         ...         ...         ...
995   63.310001   63.590000   63.240002   63.639999   2133200.0
996   27.160000   26.990000   26.680000   27.299999   1982400.0
997   28.320000   28.770000   28.010000   28.809999  37152800.0
998   44.000000   44.799999   43.750000   44.810001   6568600.0
999   36.080002   37.139999   36.009998   37.230000   5604300.0

[1000 rows x 5 columns]

## Question 4

### Get features and label from the dataset in separate variable
- Take "open", "close", "low", "high" columns as features
- Take "volume" column as label
- Normalize label column by dividing it with 1000000

In [34]:
X=df[["open", "close", "low", "high"]]
y=df["volume"]/1000000

## Question 5

### Convert data
- Convert features and labels to numpy array
- Convert their data type to "float32"

In [35]:
import numpy as np

In [36]:
X=np.asarray(X,dtype='float32')
y=np.asarray(y,dtype='float32')

## Question 6

### Normalize data
- Normalize features
- Use tf.math.l2_normalize to normalize features
- You can read more about it here https://www.tensorflow.org/api_docs/python/tf/math/l2_normalize

In [37]:
X=tf.math.l2_normalize(X)

## Question 7

### Define weight and bias
- Initialize weight and bias with tf.zeros
- tf.zeros is an initializer that generates tensors initialized to 0
- Specify the value for shape

In [38]:
w=tf.zeros(shape=(4,1))
b=tf.zeros(shape=(1))

## Question 8

### Get prediction
- Define a function to get prediction
- Approach: prediction = (X * W) + b; here is X is features

In [39]:
def prediction(x,w,b):
  xw_matmul=tf.matmul(x,w)
  y=tf.add(xw_matmul,b)
  return y

### Calculate loss
- Calculate loss using predictions
- Define a function to calculate loss
- We are calculating mean squared error

In [40]:
def loss(y_act,y_predict):
  diff=y_act-y_predict
  sqr=tf.square(diff)
  avg=tf.reduce_mean(sqr)
  return avg

## Question 9

### Define a function to train the model
1.   Record all the mathematical steps to calculate Loss
2.   Calculate Gradients of Loss w.r.t weights and bias
3.   Update Weights and Bias based on gradients and learning rate to minimize loss

In [48]:
def train(X_train,y_train,w,b,learning_rate=0.01):
  with tf.GradientTape() as tape:
    tape.watch([w,b])
    current_pred=prediction(X_train,w,b)
    current_loss=loss(y_train,current_pred)
  dw,db=tape.gradient(current_loss,[w,b])
  w=w-(learning_rate*dw)
  b=b-(learning_rate*db)
  return w,b

## Question 10

### Train the model for 100 epochs 
- Observe the training loss at every iteration

In [49]:
for i in range(100):
  w,b=train(X,y,w,b)p
  print('Current Loss on iteration',i,loss(y,prediction(X,w,b)).numpy())

Current Loss on iteration 0 236.16766
Current Loss on iteration 1 235.093
Current Loss on iteration 2 234.06105
Current Loss on iteration 3 233.06989
Current Loss on iteration 4 232.11801
Current Loss on iteration 5 231.20384
Current Loss on iteration 6 230.32588
Current Loss on iteration 7 229.48265
Current Loss on iteration 8 228.6729
Current Loss on iteration 9 227.89523
Current Loss on iteration 10 227.14842
Current Loss on iteration 11 226.4312
Current Loss on iteration 12 225.74228
Current Loss on iteration 13 225.08072
Current Loss on iteration 14 224.4454
Current Loss on iteration 15 223.83524
Current Loss on iteration 16 223.24925
Current Loss on iteration 17 222.68651
Current Loss on iteration 18 222.14604
Current Loss on iteration 19 221.62694
Current Loss on iteration 20 221.12845
Current Loss on iteration 21 220.64973
Current Loss on iteration 22 220.18993
Current Loss on iteration 23 219.7484
Current Loss on iteration 24 219.32436
Current Loss on iteration 25 218.91702
Current Loss on iteration 26 218.52592
Current Loss on iteration 27 218.15022
Current Loss on iteration 28 217.78954
Current Loss on iteration 29 217.44313
Current Loss on iteration 30 217.11037
Current Loss on iteration 31 216.79079
Current Loss on iteration 32 216.48401
Current Loss on iteration 33 216.18921
Current Loss on iteration 34 215.90627
Current Loss on iteration 35 215.63437
Current Loss on iteration 36 215.37337
Current Loss on iteration 37 215.12259
Current Loss on iteration 38 214.88185
Current Loss on iteration 39 214.65062
Current Loss on iteration 40 214.42851
Current Loss on iteration 41 214.21523
Current Loss on iteration 42 214.01044
Current Loss on iteration 43 213.8137
Current Loss on iteration 44 213.62479
Current Loss on iteration 45 213.44337
Current Loss on iteration 46 213.26913
Current Loss on iteration 47 213.10179
Current Loss on iteration 48 212.94106
Current Loss on iteration 49 212.7867
Current Loss on iteration 50 212.63853
Current Loss on iteration 51 212.49617
Current Loss on iteration 52 212.35945
Current Loss on iteration 53 212.22818
Current Loss on iteration 54 212.10205
Current Loss on iteration 55 211.98096
Current Loss on iteration 56 211.86462
Current Loss on iteration 57 211.75299
Current Loss on iteration 58 211.64572
Current Loss on iteration 59 211.54272
Current Loss on iteration 60 211.44377
Current Loss on iteration 61 211.34874
Current Loss on iteration 62 211.2575
Current Loss on iteration 63 211.16986
Current Loss on iteration 64 211.0857
Current Loss on iteration 65 211.0049
Current Loss on iteration 66 210.92728
Current Loss on iteration 67 210.85268
Current Loss on iteration 68 210.78108
Current Loss on iteration 69 210.71236
Current Loss on iteration 70 210.64627
Current Loss on iteration 71 210.58289
Current Loss on iteration 72 210.52196
Current Loss on iteration 73 210.46352
Current Loss on iteration 74 210.40733
Current Loss on iteration 75 210.35338
Current Loss on iteration 76 210.30156
Current Loss on iteration 77 210.25183
Current Loss on iteration 78 210.20403
Current Loss on iteration 79 210.15813
Current Loss on iteration 80 210.11404
Current Loss on iteration 81 210.07175
Current Loss on iteration 82 210.0311
Current Loss on iteration 83 209.99205
Current Loss on iteration 84 209.95453
Current Loss on iteration 85 209.91856
Current Loss on iteration 86 209.88397
Current Loss on iteration 87 209.85075
Current Loss on iteration 88 209.81885
Current Loss on iteration 89 209.78822
Current Loss on iteration 90 209.75879
Current Loss on iteration 91 209.73053
Current Loss on iteration 92 209.70341
Current Loss on iteration 93 209.67734
Current Loss on iteration 94 209.65231
Current Loss on iteration 95 209.62831
Current Loss on iteration 96 209.60521
Current Loss on iteration 97 209.58304
Current Loss on iteration 98 209.5618
Current Loss on iteration 99 209.54135

### Observe values of Weight
- Print the updated values

In [51]:
print('weights:\n',w.numpy())

weights:
 [[0.0547828 ]
 [0.05488191]
 [0.05422734]
 [0.05533117]]

### Observe values of Bias
- Print the updated values

In [53]:
print('Bias:\n',b.numpy())

Bias:
 [4.607657]